<div class="container">
  <div class="app-header">
    <h1>{{ title }}</h1>
    <div *ngIf="username" class="welcome-message">
      <span>Welcome, {{ username }}!</span>
      <button mat-button color="primary" (click)="onLogout()">Logout</button>
    </div>
  </div>
  <nav>
    <ul class="nav nav-pills justify-content-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="/contacts">Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add-contact">Add Contact</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>

</div>
