<div class="register-form-container">
  <h1>{{ isEditMode ? 'Edit Contact' : 'Add Contact' }}</h1>

  <form (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text" [(ngModel)]="contact.name" name="name" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Phone Number</mat-label>
      <input matInput type="tel" [(ngModel)]="contact.phoneNumber" name="phoneNumber" required>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">
      {{ isEditMode ? 'Save Changes' : 'Add Contact' }}
    </button>
  </form>
  <div class="login-link">
    <a routerLink="/contacts">Cancel</a>
  </div>
</div>
